$black-normal: hsl(210, 17%, 2%);
$black-dark: hsl(210, 5%, 8%);
$black-light: hsl(210, 3%, 15%);

$white-normal: hsl(180, 11%, 96%);
$white-dark: hsl(180, 6%, 94%);
$white-light: hsl(180, 4%, 91%);

$blue-normal: hsl(192, 84%, 55%);
$blue-dark: hsl(192, 87%, 59%);
$blue-light: hsl(192, 72%, 50%);

$gray-normal: hsl(0, 0%, 41%);
$gray-dark: hsl(0, 0%, 21%);
$gray-light: hsl(210, 1%, 48%);

$--primary-color: hsl(170, 100%, 26%);
$--secondary-color: hsla(210, 11%, 15%, 1);